.banner{
    background-image: url('./images/cover.jpg');
    background-position: center;
    background-size: cover;
    min-height: 500px;
}


.img-submit{
    max-width: 850px;
}

.link-nav{
    text-decoration: inherit!important;
    color: rgb(255, 255, 255);
}


.link-nav:hover{
    text-decoration: inherit!important;
    color: #f0ad4e;
    font-weight: 600;
}

.list-inline-item{
    text-decoration: inherit!important;
}


.link-nav-footer{
    text-decoration: inherit !important;
    color: black;
}