.bg-nav{
    background-color: #252525 !important;
}


.banner-img{
    position: fixed;
    top:230px;
}


.info-card{
    padding-bottom: 20px;
    max-width: 310px;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.footer{
    font-weight: 500;
}


.nav-custom:hover{
    color:brown !important;
    transform: scale(1.04);
}

