.bg-nav{
    background-color: #646464 !important;
}


.banner-img{
    position: fixed;
    top:230px;
}


.info-card{
    padding-bottom: 20px;
    max-width: 310px;
    box-shadow: 0px 0px 1px .5px rgb(117, 117, 117);
    color: rgb(61, 61, 61);
    padding: .6em;
    cursor: pointer;
}
.info-card:hover{
    box-shadow: 1px 1px 1px  rgb(117, 117, 117);
}
.footer{
    font-weight: 500;
     
}
.nav-custom{
    /* font-weight: 500; */
    color: rgb(112, 112, 112) !important;
}

.nav-custom:hover{
    color:#3f3f3f !important;
}

 

.bg-custom{
    background-color: #edf5f8 !important;
}


.form-page{
    background-color: rgb(241, 233, 220) !important;
}

#no-shadow{
    box-shadow: 3px 3px 2px white !important;
}


.img-me{
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
}


.list-unstyled > li, .footer-text{
    color: rgb(59, 59, 59);
}

.list-unstyled > li:hover{
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.footer-text:hover{
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.form-sm{
    height: 31.3px !important;
}