 

.bg-nav{
    background-color: #646464 !important;
}


.banner-img{
    position: fixed;
    top:230px;
}
.btn-custom{
    background-color: #F05454 !important;
    color: white !important;
}

.info-card{
    padding-bottom: 20px;
    max-width: 310px;
    box-shadow: 0px 0px 1px .5px rgb(117, 117, 117);
    color: rgb(61, 61, 61);
    padding: .6em;
    cursor: pointer;
}
.info-card:hover{
    box-shadow: 1px 1px 1px  rgb(117, 117, 117);
}
.footer{
    font-weight: 500;
     
}
.nav-custom{
    /* font-weight: 500; */
    color: rgb(112, 112, 112) !important;
    font-weight: 500;
}

.nav-custom:hover{
    color:#F05454 !important;
    font-weight: 500;
}

 

.bg-custom{
    background-color: #edf5f8 !important;
}


.form-page{
    background-color: rgb(241, 233, 220) !important;
}

#no-shadow{
    box-shadow: 3px 3px 2px white !important;
}


.img-me{
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
}


.list-unstyled > li, .footer-text{
    color: rgb(59, 59, 59);
}

.list-unstyled > li:hover{
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.footer-text:hover{
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.form-sm{
    height: 31.3px !important;
}

.card{
    width: 220px;
    border: 1px solid black;
    height: 150px;
    border-radius: 10px !important;
}

.card:hover{
    box-shadow: 3px 3px   5px rgb(143, 143, 143);
    cursor: pointer;
    transform: scale(1.01);
}


.btn-custom-two{
    background-color: #30475E !important;
    color: white !important;
    border:none !important;
}

.crud-card{
    /* border: 1px solid rgb(158, 158, 158); */
    padding: 1rem;
    box-shadow: 0px 0px 15px  rgb(228, 228, 228);
    font-family: 'Courier New', Courier, monospace;
 
}

.crud-card:hover{
    box-shadow: 2px 2px 4px  rgb(221, 221, 221);
    transform: scale(1.01);
    cursor: pointer;
}