.btn-sign{
    border-radius: 30px  !important;
    padding: 5px 20px !important;
}

.nav-link{
    margin-left:10px;
    color: black;
}

.search-input{
     
    width: 400px !important;
    display: block;
    margin: auto;
    border-radius: 20px !important;
}


.search-bar{
    position: relative;
    top:130px;
    width: 800px !important;
    display: block;
    margin: auto;
    height: 14px;
}

.search-btn{
    border-radius: 20px !important;
    padding: 6px 30px !important;
    display: block !important;
    margin: 5px auto !important; 
    
}

#cart{
    width: 20px;
}
.banner{
    background-image: url('./resources/bannerbackground.png');
    background-position: center;
    background-size: cover;
    min-height: 480px;
}

.btn-select:focus{
    color: red !important;
    border-bottom: 3px solid red !important;
    background-color: white !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.btn-filter{
     
    display: block;
    margin: auto;
    width:450px;
    font-weight: 700 !important;
}

.card{
    border: 0px solid white !important;
    min-height: 180px !important;
}
.card-name, .card-description, .card-price{
    text-decoration: none !important;
}

.card-link{
    text-decoration: none  !important;
    color: black !important;
}

.card-link:hover{
    color: #0275d8 !important;
    transition:.4s;
    transform: scale(1.05);
    
}

footer img{
    height: 60px;
}
footer  a{
    color: #333333;
    display: block;
    line-height: 2;
    font-weight: 600;
}


.btn-add{
    padding: 4px 40px !important;
    border-radius: 20px !important;
}


.btn-submit{
    padding: 6px 175px !important;
}


.custom-input{
    border: none !important;
}

.text-toggle:hover{
    cursor: pointer;
    text-decoration: underline;
}


.form-check-out{
    max-width: 500px !important;
}


.btn-check-out{
    max-width: 500px !important;
    padding: 7px 247px  !important;
}

.input-custom{
    max-width: 40px;
}

#card-number{
    max-width: 300px !important;
    margin-top:16px;
}