.nav-item{
    color:rgb(255, 255, 255) !important;
    font-weight: 700;
}

.google-bg{
    background-color: rgb(225, 255, 255) !important;
    font-weight: 700;
}

.img-design{
    border-bottom:5px solid #343a40;
    position: relative;
}

.text-book{
    color:white;
    text-decoration: inherit;
}

.custom-font{
    color:white !important;
    text-decoration: inherit !important;
}