.bg-green, header{
    background: #F0FFF0;
}

.button{
    background-color: #21B573;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
}

.navbar-nav li{
    margin : 0px 10px 15px 10px;
}

header{
    border: 0px solid black;
    padding: 25px 0px;
}

.success-bar{
    margin: 50px 0px;
}

.box img{
    width: 95px;
    margin-bottom: 10px;
}

.box .inner{
    height: 300px;
    background-color: #F0FFF0;
    margin: 10px 0px;
    padding: 20px;
}

.inner:hover{
    transform: translate(1.1);
    transition: .2s;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgb(180, 180, 180);
}

.card{
    padding: 15px;
}


.card .buttonc{
    background-color: #21B573;
    color: white;
    padding: 7px 20px;
    border-radius: 25px;
    border: none;
}

.testimonial{
    padding: 70px;
}

footer{
    padding-top: 35px;
    color: white;
    background-color: rgb(34, 34, 34);
}