.container{
    width: 96%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 95%;
    max-width: 500px;
    border:1px solid black;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-items: center;
    
}

.cart-item-img{
    max-width: 50px;
}

.item-img-size{
    width: 100%;
    max-width: 200px;
}


 