body{
    margin: 0;

}


p,h3{
    font-family: 'Poppins', sans-serif;
    
}

 
 
h3{
    font-weight: 600;
}
h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.name-highlight{
    color:orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.half-width img{
    width: 100%;
}

section{
    height: 500px;    
    padding-bottom: 100px;
}

.top-banner{
    background-image: url('image/top-banner.png');
    background-repeat: no-repeat;
}
.btn{
    margin: 20px 0px;
}
.button-hire{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    background: orange;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.dream-area{
    background-image: url('image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
     
}

.left-exp{
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 02px #595959;
    height: 350px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}

.right-exp{
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 02px #595959;
    height: 350px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
.left-exp  h2{
    color: rgb(255, 167, 2);
    
    
   
}

.right-exp  h2{
    color: rgb(255, 167, 2);
    
}

.left-exp p{
    font-weight: 500;
    font-size: large;
}

.right-exp p{
    font-weight: 500;
    font-size: large;
}

.exp {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}