$theme-color:#efefef;
%commonCSS{
    font-family: cursive;
    color: #333;
    line-height: 1.5;
    font-size: 18px;
}

body {
    @extend %commonCSS;
    background-color:$theme-color; 
}


ul{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        a{
            @extend %commonCSS;
            font-size:20px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            transition: .2s;
        }

        a:hover{
            color:red;
            transform: scale(1.002);
        }
    }
}